# Ignore output files
*.h5
*.hdf
cellChance*/
cellLifetime*/
mfpScan/
results*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook
**/*.ipynb_checkpoints/
*.ipynb

# cpp compiled executable
*.x

# CMake
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

# parallel.py gnu parallel text file
parallelJobs.txt
